body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
}
.Display {
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
  background-color: gray;
  height: 100px;
}
.common-width {
  width: 700px;
  /* height: 2em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center; */
}

.result {
  display: flex;
  flex-direction: column-reverse;
  color: white;
  font-weight: bolder;
  font-size: 38px;
  padding: 5px;
}

.bPanel-width {
  width: 100%;
}

.group1,
.group2,
.group3,
.group4,
.group5 {
  height: 100px;
  display: flex;
  flex-direction: row;
}

.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}